<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application>
        <meta-data
            android:name="com.cc.ads.TOPON_TEST_MODE"
            android:value="${toponTestMode}" />
        <meta-data
            android:name="com.cc.ads.TOPON_APP_PACKAGE_NAME"
            android:value="${toponAppPackageName}" />
        <meta-data
            android:name="com.cc.ads.TOPON_APP_ID"
            android:value="${toponAppId}" />
        <meta-data
            android:name="com.cc.ads.TOPON_APP_KEY"
            android:value="${toponAppKey}" />
        <meta-data
            android:name="com.cc.ads.TOPON_SPLASH_PLACEMENT_ID"
            android:value="${toponSplashPlacementId}" />
        <meta-data
            android:name="com.cc.ads.TOPON_INTERSTITIAL_PLACEMENT_ID"
            android:value="${toponInterstitialPlacementId}" />
        <meta-data
            android:name="com.cc.ads.TOPON_REWARDED_PLACEMENT_ID"
            android:value="${toponRewardedPlacementId}" />
        <meta-data
            android:name="com.cc.ads.TOPON_BANNER_PLACEMENT_ID"
            android:value="${toponBannerPlacementId}" />
        <meta-data
            android:name="com.cc.ads.TOPON_NATIVE_PLACEMENT_ID"
            android:value="${toponNativePlacementId}" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />

        <activity
            android:name="com.myAllVideoBrowser.ui.main.home.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myAllVideoBrowser.ui.main.guide.GuideActivity"
            android:exported="false"
            android:theme="@style/DownloaderAppTheme" />
        <activity
            android:name="com.myAllVideoBrowser.ui.main.settings.language.LanguageSettingsActivity"
            android:exported="false"
            android:theme="@style/DownloaderAppTheme" />
        <activity
            android:name="com.myAllVideoBrowser.ui.main.settings.PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/DownloaderAppTheme" />
        <activity
            android:name="com.myAllVideoBrowser.ui.main.bookmarks.BookmarksActivity"
            android:exported="false"
            android:theme="@style/DownloaderAppTheme" />
        <activity
            android:name="com.myAllVideoBrowser.ui.main.history.HistoryActivity"
            android:exported="false"
            android:theme="@style/DownloaderAppTheme" />
        <activity
            android:name="com.myAllVideoBrowser.ui.main.player.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/DownloaderAppTheme" />
        <activity
            android:name="com.myAllVideoBrowser.ui.main.video.PrivateSpaceActivity"
            android:exported="false"
            android:theme="@style/DownloaderAppTheme" />

        <service
            android:name="com.myAllVideoBrowser.util.proxy_utils.ProxyService"
            android:enabled="false"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <receiver
            android:name="com.myAllVideoBrowser.util.downloaders.NotificationReceiver"
            android:enabled="true" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>

</manifest>
